.custom-footer{
    background-color:#bc477b;
    color:#fff;
    font-weight: 400;
    height: 30px;
    width: 100%;
}

.footer-text{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.custom-footer i{
    margin-right: 5px;
    font-size: 12px;
}
