<div class="custom-div" style="width:120px; float:left;">
    <p>
        <img class ="icon" src="./assets/images/svg/light.svg" onmouseover="this.src='./assets/images/svg/light_accent.svg';" onmouseout="this.src='./assets/images/svg/light.svg';"/>
    </p>

    <p class="title">{{currentDevice.outputPin}}</p>
    <p class="subtitle">{{currentDevice.name}}</p>

</div>

<div class="custom-div" style="width:120px; float:right;">
    <p>
        <img class ="icon" src="./assets/images/svg/light.svg" onmouseover="this.src='./assets/images/svg/light_accent.svg';" onmouseout="this.src='./assets/images/svg/light.svg';"/>
    </p>

    <p class="title">{{currentDevice.outputPin}}</p>
    <p class="subtitle">{{currentDevice.name}}</p>

</div>
