.custom-div{
    min-height:100px;
    float: center;
    width: 80px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 8px;
    margin-right: 8px;
}

svg{
    width:60px;
    fill:blue;
}

.custom-div:hover{
    color: #9fffe0;
}

p{
    text-align: center;
    margin: 0;
}

.title{
    color: rgba(0,0,0,0.54);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.subtitle{
    color: rgba(0,0,0,0.38);
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.icon{
    height: 100px;
}

.icon2{
    height: 100px;
}
