<div class="mat-typography" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-around center" style="line-height:150%; font-size: 16px;">
    <p style="margin: 40px; margin-left:20px;"> <img src="./assets/images/jpg/makers.jpg"> </p>

    <div>
        <p>Nosaltres som la Marta, en Guillem R, en Guillem C, en Giancarlo,
            l’Arnau, en David, en Marc i la Gemma, i vam fer el Camp de Treball Maker durant l'estiu 2017.

            En aquest camp vam crear un nou sistema per al control de les llums
            d’un teatre.

            Controlem les llums fent servir una aplicació web programada amb Angular 2 fent ús del Material Design.
            Aquesta aplicació web es comunica amb una Raspberry que controla els relés per engegar i apagar les llums.

            Ens hem repartit la feina en dues parts:
        </p>
        <ul>
            <li>la instal·lació elèctrica</li>
            <li>la programació web i del servidor de la Raspberry</li>
        </ul>
        <p>Vam tenir aquesta idea ja que en el nostre col·legi, hi ha un quadre de llums
            i el voliem modernitzar.
            El camp de treball ha durat 3 setmanes, i aquest en ha donat una oportunitat per
            aprendre i mouren’s millor per aquest món tecnològic.
        </p>
    </div>
</div>
