<mat-sidenav-container>

    <!-- SIDENAV CONTENT -->
    <mat-sidenav #sidenav  class="container-sidenav">
            <mat-nav-list class="custom-nav">
                    <div class="text-icon-container">
                            <i class="material-icons">build</i> <span class="mat-display-1 title-nav"> TAULA DE CONTROL</span>
                    </div>
                    <mat-divider> </mat-divider>
                    <a mat-list-item routerLink="/control"       (click) = "sidenav.toggle()">Control de llums</a>
                    <a mat-list-item routerLink="/outputs"       (click) = "sidenav.toggle()">Configuració</a>
                    <a mat-list-item routerLink="/makers"        (click) = "sidenav.toggle()">Qui l'ha fet?</a>
            </mat-nav-list>
    </mat-sidenav>

    <!-- REST OF PAGE CONTENT -->
    <mat-toolbar color="primary" class="mat-elevation-z4">
            <button mat-icon-button (click)="sidenav.toggle()">
                <i class="material-icons" style="margin-bottom:2px;">menu</i>
            </button>￼
            <span class="title-toolbar"> {{title}} </span>
    </mat-toolbar>

    <!-- CONTENT OF THE WEB -->
    <div class="container-content">
        <router-outlet></router-outlet>
    </div>

    <!-- FOOTER -->
    <app-footer> </app-footer>

</mat-sidenav-container>
