// TOOLBAR STYLES
.title-toolbar{
    font-weight: 300;
    margin-left: 10px;
}

// SIDENAV STYLES
.container-sidenav {
    width: 300px;
}

.title-nav{
    text-align: center;
    margin: 10px;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.custom-nav{
    padding: 0;
    margin: 0;
}

.custom-nav a{
    margin:10px;
    border-radius:5px;
    margin: 10px;
}

.custom-nav a:hover{
    background: #2bbd7e !important;
    color:white;
}

// MARC STYLES
//
// .custom-nav a{
//     margin:10px;
//     border-radius:5px;
//     margin: 10px;
//     border-bottom-width: thin;
//     border-bottom-style: solid;
//     border-bottom-color:#fff;
// }
//
// .custom-nav a:hover{
//     border-bottom-color: #ff1744;
//     border-bottom-width: thin;
//     border-bottom-style: solid;
//     background: none;
//     color:#ff1744;
// }

.mat-list-item-focus{
    // background: rgba(255,23,68,0.04)!important;
    // color:#ff1744;
    background: none !important;
}

// CONTENT STYLES
.container-content{
    margin: 20px;
    align-items: center;
    justify-content:center;
    display: flex;
    height:calc(100% - 134px);
}

// STUFF STYLES
.text-icon-container {
    align-items: center;
    justify-content:center;
    display: flex;
    width:100%;
}
