// TOOLBAR STYLES
.title-toolbar{
    font-weight: 300;
    margin-left: 10px;
}

// SIDENAV STYLES
.container-sidenav {
    align-items: center;
    width: 300px;
}

.title-nav{
    text-align: center;
    margin: 10px;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.custom-nav{
    padding: 0;
    margin: 0;
}

.custom-nav a{
    margin:10px;
    border-radius:5px;
    margin: 10px;
}

.custom-nav a:hover{
    background: #2bbd7e !important;
    color:white;
}

.mat-list-item-focus{
    // background: rgba(255,23,68,0.04)!important;
    // color:#ff1744;
    background: none !important;
}

// CONTENT STYLES
.container-content{
    margin: 20px;
    min-height: calc(100vh - 134px);
    align-items: left;
    display:block;
}

// STUFF STYLES
.text-icon-container {
    height:             64px;
    width:              100%;
    background-color:   #2bbd7e;
    color:              white;
}
