<h1 md-dialog-title style="padding:10px;"> DETALLS DE CONFIGURACIÓ D'UNA SORTIDA </h1>
<form>
    <!-- TIPUS -->
    <div class="option-form md-dialog-content">
        <span class="placeh">Tipus de sortida</span>
        <mat-select [(ngModel)]="device.typeTag" name="tag" id="select">
            <mat-option *ngFor="let type of dataConfig.typeTags" [value]="type">
                {{type}}
            </mat-option>
        </mat-select>
        <br><br>
    </div>

    <!-- OUTPUT PIN -->
    <div class="option-form md-dialog-content">
        <span class="placeh">PIN de sortida</span>
        <mat-select  [(ngModel)]="device.outputPin" name="pin">
            <mat-option *ngFor="let pin of dataConfig.conf | getKeys" [value]="pin">
                {{pin}}
            </mat-option>
        </mat-select>
    </div>

    <!-- NOM -->
    <div class="option-form md-dialog-content">
        <span class="placeh">Nom </span>
        <mat-input-container style="width:70%">
            <input  mdInput [maxlength]="9" [value]="name" [(ngModel)]="device.name" name="name2" class="mat-input-element">
        </mat-input-container>
    </div>

    <!-- DESCRIPCIÓ -->
    <div class="option-form md-dialog-content">
        <span class="placeh">Descripció</span>
        <mat-input-container style="width:70%">
            <input mdInput [maxlength]="10" [value]="description"  [(ngModel)]="device.description" name="description" class="mat-input-element">
        </mat-input-container>
    </div>

    <!-- BOTONS D'ACCIÓ -->
    <button md-button (click)="delete()" class="tbutton"> ELIMINAR </button>
    <button md-button (click)="close()" id="cancel" class="tbutton"> CANCELAR </button>
    <button md-button (click)="save()" class="flat tbutton"> DESAR </button>
</form>
