<h1> Configuració d'una sortida </h1>

<form>

    <md-select placeholder="Type" [(ngModel)]="device.typeTag" name="tag" >
        <md-option *ngFor="let type of dataConfig.typeTags" [value]="type">
            {{type}}
        </md-option>
    </md-select>

    <md-select placeholder="Output" [(ngModel)]="device.outputPin" name="pin" >
        <md-option *ngFor="let pin of dataConfig.conf | getKeys" [value]="pin">
            {{pin}}
        </md-option>
    </md-select>

    <br>
    <br>

    <md-input-container >
        <input mdInput placeholder="Name" [value]="name" [(ngModel)]="device.name" name="name2" >
    </md-input-container>

    <md-input-container >
        <input mdInput placeholder="Description" [value]="description"  [(ngModel)]="device.description" name="description">
    </md-input-container>


</form>

<button md-button (click)="closeDialog()">Save</button>

<button md-button (click)="close()">Cancel</button>
