.add{
    top: auto;
    right: 20px;
    bottom: 47px;
    left: auto;
    position: fixed;
}

.icons{
    float:left;
}

.container-outputs{
    max-width: 690px;
    float: left;
}

md-tab-group{
    width: 960px;
    height: 523px;
}

/deep/
.mat-tab-label{
    width: 50%;
}

.material-icons{
    color: #1b5e20
}
.icons2{
    color: #d50000
}

.container-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    item-align: center;
    flex-wrap: wrap;
    height:100%;
}

.container-options{
    height: 392px;
    float: right;
    margin:20px;
    padding:20px;
}

.container-buttons div {
  height: 50%;
  margin-left:auto;margin-right:auto;
}
