.add{
    top: auto;
    right: 20px;
    bottom: 47px;
    left: auto;
    position: fixed;
}

.icons{
    float:left;
}

.container-center{
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    height: 98%;
    justify-content: space-between;
}

.container-outputs{
    max-width: 960px;
}
.container-programs{
    margin-top:67px;
    margin-bottom:67px;
    margin-left:20px;
}

md-tab-group{
    width: 960px;
}

/deep/
.mat-tab-label{
    width: 50%;
}

.material-icons{
    color: #1b5e20
}
.icons2{
    color: #d50000
}

.container-buttons{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height:100%;
}

.container-buttons div {
    height: 30%;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    align-items:center;
}

.container-options{
    text-align: center;
    width: 150px;
    height: 80%;
    float: right;
    margin:10px;
    padding:0px;
}

.material-icons{
    color:black;
}

h4{
    font-family: 'Roboto';
    color: black;
}

/deep/
.mat-slider-thumb{
    background-color: #69f0ae !important;
}
