<mat-tab-group style="min-height: calc(100vh - 134px);">
    <mat-tab label="Manual">
        <div class="container-outputs">
            <div *ngFor="let device of data.conf | getKeys" class="icons">
                <config-output *ngIf="data.conf[device].type != undefined"
                    [currentDevice]="data.conf[device]"
                    (click)="toggleLED(data.conf[device].outputPin)">
                </config-output>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Automàtic">
        <div class="container-outputs">
            <div *ngFor="let program of data.programs | getKeys" class="icons">
                <app-program  [currentProgram]="data.programs[program]"
                    (click)="onProgram(data.programs[program].htmlQuery)">
                </app-program>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>
